@media only screen and (max-width: 600px){
    .move{
        margin-left: 1rem !important;
    }
    .view{
        font-size: 1.4rem;
    }
    .macaire{
        font-size: 1.7rem !important;
    }
    .best{
        font-size: 1rem !important;
    }
    .ltd{
        font-size: 0.8rem;
    }
    .resort{
        border-left: none !important;
    }

}

.container1{
    background-color: #000;
}
main{
    background-color: #fff;
}
.move{
    margin-left: 51rem;
}
.sec1{
    background-image: url(https://media.hotels.ng/img/h21586/562/422/b1/villa-view-hotels-ltd-21586-13.jpg);
    background-color: rgb(34, 34, 34);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style-type: none;
}
.quick{
    margin-left: 2.1rem;
}
.values{
    border: 1px solid #000 !important;
    border-radius: 30rem !important;
    padding: 17px !important;
    background-color: #fff !important;
    margin-left: 5rem;
}
.more{
    align-self: center !important;
}
/* .resort{
    border-left: 5px solid rgb(85, 112, 248);
}*/

.macaire{
    font-size: 3.5rem;
}
.best{
    font-size: 30px;
}
.book{
    border-radius: 1.5rem !important;
}
.value{
    font-size: 1.5rem;
}
.luxury{
    background-color: #232323;
    color: #fff;
}
.col{
    background-color: #000 !important;
}
.inside{
    background-color: b;
}
.mission{
    background-color:  #000 !important;
}
/* i{
    background-color: black;
    color: #fff;
} */
.block{
    border: 2px solid black;
    border-radius: 5px;
    align-content: space-around !important;
}
li{
    color: #fff;
}
.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}