@media only screen and (max-width: 600px){
    .move{
        margin-left: 1rem !important;
    }
}

.container1{
    background-color: #000;
}
main{
    background-color: #fff;
}
.move{
    margin-left: 51rem;
}
.sec1{
    background-image: url(./img/download.jfif);
    background-color: rgb(56, 51, 51);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}
li{
    list-style-type: none;
}
.quick{
    margin-left: 2.1rem;
}
.values{
    border: 1px solid #000 !important;
    border-radius: 30rem !important;
    padding: 17px !important;
    background-color: #fff !important;
    margin-left: 5rem;
}
.more{
    align-self: center !important;
}
.resort{
    border-left: 5px solid rgb(85, 112, 248);
}
.macaire{
    font-size: 3.5rem;
}
.best{
    font-size: 30px;
}
.book{
    border-radius: 1.5rem !important;
}
.value{
    font-size: 3rem;
}